<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#paypalModal">
  Recaudación
</button> -->

<!-- Modal -->
<div class="modal fade" id="paypalModal" tabindex="-1" role="dialog" aria-labelledby="paypalModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-light">
      <div class="modal-header">
        <h3 class="modal-title" id="paypalModalLongTitle">Apoya la defensa del Río Sonora</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Las autoridades no monitorean el agua que bebemos en el río. Necesitamos saber qué y cuántos metales pesados siguen ahí tras el derrame.</p>

        <p>Tu donación ayudará a que podamos realizar un monitoreo ciudadano independiente sobre la calidad del agua</p>
      </div>
      <div class="modal-footer d-block text-center">
        <a href="https://www.paypal.com/paypalme/DefensaRioSonora" class="btn btn-primary" target="_blank">Dona aquí</a>
      </div>
    </div>
  </div>
</div>