section#contracts_page {

    .contracts-content {
        p {
            color: white;
        }
        .contract-search {
            display: block;
            width: 100%;

            .search-title {
                display: block;
                font-weight: 600;
                margin-bottom: 5px;
                // font-size: 1.2rem;
            }
            .search-title {
                font-weight: 800;
                color: white;
            }
        }

        .contract-filter {
            margin-bottom: 40px;

            .filter-box {
                .info-icon {
                    width: 16px;
                    margin-left: 5px;
                    margin-top: -4px;
                }

                .half-input,
                .datepicker__input-container {
                    float: left;
                    display: block;
                    margin-right: 2%;
                    width: 48%;
                }
                .filter-title {
                    position: relative;
                    float: left;
                    display: block;
                    font-weight: 800;
                    color: white;
                }
            }
        }
    }
    table.dataTable tbody tr {
        background-color: $eight;
    }
    table.dataTable th.dt-left, table.dataTable th.dt-center, table.dataTable th.dt-right{
        color: white !important;
    }
}

table.dataTable tbody tr.odd, table.dataTable tbody tr.even  {
    cursor: pointer;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: white !important;
    background: $twelve !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    background: $twelve !important;
}

.form-control {
    background-color: $eight;
}